<div>
  <div class='col-md-6'>
    <form ng-submit='addList()' class='form-inline'>
      <div class='form-group'>
        <input type='text' ng-model="newList.name" class='form-control input-lg' placeholder="Dodaj nową listę">
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Dodaj Listę</button>
    </form>
  </div>

  <br/>
  <br/>
  <hr/>

  <div class="row">
    <div class="col-md-4" ng-repeat="list in lists">
      <div class='col-md-8'>
        <h3>
          <editablespan
            model='list.name'
            on-ready='updateList(list)'
            input-class="form-control"
            >
          </editablespan>
        </h3>
      </div>

      <div class='col-md-4 down13p'>
        <button class="btn btn-danger btn-small pull-right" ng-click="deleteList($index)" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>

      <form ng-submit='addTaskToList(newTask, list)' class='form-inline padding7p'>
        <div class='form-group'>
          <input type='text' ng-model="newTask.name" class='form-control' placeholder='Dodaj nowy task'>
        </div>
        <button type='submit' class='btn btn-default'>Dodaj zadanie</button>
      </form>

      <div class="col-md-10" ng-repeat="task in list.tasks">
        <div class='col-md-10 padding7p'>
          <a class='font18p' href='#/{{list.id}}/task/{{task.id}}'> {{task.name}} </a>
        </div>

        <div class='col-md-2'>
          <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTaskFromList($index, task, list)" type="button">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
