<div>
    <div class='col-md-6'>
        <h3>task template</h3>
        <hr />
        <h3>
            <editablespan
                    model='task.name'
                    on-ready='updateTask(task)'
                    input-class="form-control"
                    >
            </editablespan>
        </h3>

        <h3>
            <a href="#" editable-textarea="task.description" e-rows="7" e-cols="63">
                <pre>{{ task.description || 'no description' }}</pre>
            </a>
        </h3>
    </div>
</div>