<div>
    <div class='col-md-12'>
        <h4>
        <a href="#" > Wróć do Tablicy</a>
        </h4>
    </div>
    <div class='col-md-8'>
        <h3>
            Tytuł: <div  editable-text="task.name" onaftersave="updateTask()">{{ task.name || 'empty' }}</div>

        </h3>
        <hr />

        <h3>
            <a href="#" editable-textarea="task.description" e-rows="7" e-cols="63" onaftersave="updateTask()">
                <pre>{{ task.description || 'no description' }}</pre>
            </a>
        </h3>

    </div>
    <div class='col-md-12'>
        <hr />
    </div>

    <div class='col-md-8' style='margin-bottom: 20px;'>
        <form ng-submit='addCommentToTask(newComment, task)' class='padding7p'>
            <div class='form-group'>
                <textarea ng-model="newComment.content" class='form-control' rows='5' placeholder='Dodaj komentarz'>
                </textarea>
            </div>
            <button type='submit' class='btn btn-default'>Dodaj Komentarz</button>
        </form>
    </div>


    <div ng-repeat="comment in task.comments">
      <div class='col-md-8'>
          <img src="{{comment.user_avatar}}" height='25' width='25' style='margin-right: 5px'>
              {{comment.user_name}} ({{comment.user_email}}) | {{comment.created_at}}
          </img>
          <div style="margin-top: 10px; margin-left: 10px; margin-bottom: 15px;">
              <p>
                  {{comment.content}}
              </p>
          </div>
      </div>
    </div>


    </div>
</div>