<h1>Masters</h1>

<div ng-controller="MainCtrl">
  <form ng-submit='addList()'>
    <input type='text' ng-model="newList.name">
    <input type='submit' value='Add'>
  </form>

  <div class="row">
    <div class="col-md-4" ng-repeat="list in lists">
      <h2>{{list.name}}</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <button class='btn btn-danger btn-small pull-right' ng-click='deleteList($index)'>×</button>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      <div class="col-md-3" ng-repeat="task in list.tasks">
        {{task.name}}
      </div>
    </div>
  </div>

</div>
