<h1>ng-tasks</h1>
<br />

<div ng-controller="MainCtrl">
  <div class='col-md-6'>
    <form ng-submit='addList()' class='form-inline'>
      <div class='form-group'>
        <input type='text' ng-model="newList.name" class='form-control input-lg' placeholder="Add new List">
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Create list</button>
    </form>
  </div>

  <br/>
  <br/>
  <hr/>

  <div class="row">
    <div class="col-md-4" ng-repeat="list in lists">
      <div class='col-md-8'>
        <h3>
          <editablespan
            model='list.name'
            on-ready='updateList(list)'
            input-class="form-control"
            >
          </editablespan>
        </h3>
      </div>

      <div class='col-md-4 down13p'>
        <button class="btn btn-danger btn-small pull-right" ng-click="deleteList($index)" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>

      <form ng-submit='addTaskToList(newTask, list)' class='form-inline'>
        <div class='form-group'>
          <input type='text' ng-model="newTask.name" class='form-control' placeholder='Add new Task'>
        </div>
        <button type='submit' class='btn btn-default'>Add Task</button>
      </form>

      <div class="col-md-10" ng-repeat="task in list.tasks">
        <div class='col-md-10'>
          <editablespan
            model='task.name'
            on-ready='updateTaskInList(task)'
            input-class="form-control"
            span-class="font18p"
            >
          </editablespan>
        </div>

        <div class='col-md-2 down13p'>
          <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTaskFromList($index, task, list)" type="button">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
