<h1>ng-tasks</h1>
<br />

<div ng-controller="MainCtrl">
  <div class='col-md-6'>
    <form ng-submit='addList()' class='form-inline'>
      <div class='form-group'>
        <input type='text' ng-model="newList.name" class='form-control input-lg' placeholder="Add new List">
      </div>
      <button type='submit' class='btn btn-default btn-lg'>Create list</button>
    </form>
  </div>

  <br/>
  <hr/>

  <div class="row">
    <div class="col-md-4" ng-repeat="list in lists">
      <div class='col-md-8'>
        <h3>
          <editablespan
            model='list.name'
            on-ready='updateList(list)'
            input-class="form-control"
            >
          </editablespan>
        </h3>
      </div>

      <div class='col-md-4' style="margin-top: 13px;">
        <button class="btn btn-danger btn-small pull-right" ng-click="deleteList($index)" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
      </div>



      <div class="col-md-8" ng-repeat="task in list.tasks">
        {{task.name}}
        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTaskFromList($index, task, list)" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span>
        </button>
        <br />

        <form ng-submit='updateTaskInList(task)'>
          <input type='text' ng-model="task.name">
          <input type='submit' value='Update'>
        </form>

      </div>

      <form ng-submit='addTaskToList(newTask, list)'>
        <input type='text' ng-model="newTask.name">
        <input type='submit' value='Add'>
      </form>
    </div>
  </div>

</div>
