/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require datetimepicker
 *= require select
 *= require_tree .
 */

@import 'bootstrap';
@import 'bootstrap/theme';
@import 'bootstrap/glyphicons';
@import 'font-awesome';


.col-centered {
  float: none;
  margin: 0 auto;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  background-color: inherit;
}

.centre {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.down13p {
  margin-top: 13px;
}

.padding7p {
  padding: 7px;
}

.font18p {
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}